name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          git \
          zip \
          unzip \
          openjdk-11-jdk \
          python3 \
          python3-pip \
          python3-venv \
          autoconf \
          libtool \
          pkg-config \
          libssl-dev \
          libffi-dev \
          libbz2-dev \
          libsqlite3-dev \
          libncurses5-dev \
          libncursesw5-dev \
          zlib1g-dev \
          libgdbm-dev \
          libreadline-dev \
          liblzma-dev \
          libxml2-dev \
          libxslt1-dev \
          libffi-dev \
          ffmpeg \
          libsdl2-dev \
          libsdl2-image-dev \
          libsdl2-mixer-dev \
          libsdl2-ttf-dev \
          libportmidi-dev \
          libswscale-dev \
          libavformat-dev \
          libavcodec-dev \
          libjpeg-dev \
          libpng-dev \
          libgles2-mesa-dev \
          patchelf
          
    - name: Install Buildozer
      run: |
        python3 -m pip install --upgrade pip
        pip install buildozer
        pip install cython==0.29.33
        pip install kivy
        pip install kivymd
    
    - name: Create required directories
      run: |
        mkdir -p ~/.gradle
        echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
    
    - name: Fix gradlew permissions
      run: |
        mkdir -p .buildozer/android/platform/build-arm64-v8a/dists/
        echo "#!/bin/sh" > .buildozer/android/platform/build-arm64-v8a/dists/gradlew
        echo "export GRADLE_USER_HOME=\"\$HOME/.gradle\"" >> .buildozer/android/platform/build-arm64-v8a/dists/gradlew
        echo "./gradlew \"\$@\"" >> .buildozer/android/platform/build-arm64-v8a/dists/gradlew
        chmod +x .buildozer/android/platform/build-arm64-v8a/dists/gradlew
    
    - name: Build APK
      id: build_apk
      run: |
        export P4A_USE_SETUP_PYTHON=1
        buildozer -v android debug
        cp bin/*.apk ./ceiling_calculator.apk
    
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: ceiling-calculator-apk
        path: ceiling_calculator.apk